
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;700&display=swap");

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%; /* makes 1rem == 10px */
}

body {
  box-sizing: border-box;
  font-family: Poppins, sans-serif;
}